body,div,a,img,li,ul,p,ol,span,h2,h1,h3,h4{
	padding: 0;
	margin: 0;
}
body {
	font-size: 12px;
	font-family: "Microsoft Yahei",Arial,helvetica,sans_serif;
	font-weight: normal;
}
ul , li , ol {
	list-style: none;
}
img {
	border: none;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
.fl {
	float: left;
}
.fr {
	float: right;
}

body {
    background: #0e0e0e url(../img/homepage/bg1.jpg) no-repeat center top;
}
.logo{
    position: absolute;
    top: 20px;
    left: 12px;
}
.button{
    position: absolute;
    top: 350px;
    left: 163px;
}
ul.nav li.luntan {
    background: url(../img/luntan.jpg) no-repeat 0 0;
}

ul.nav li.weixin {
    background: url(../img/weixin.jpg) no-repeat 0 0;
}

ul.nav li.weibo {
    background: url(../img/weibo.jpg) no-repeat 0 0;
}

ul.nav li.qq {
    background: url(../img/qq.jpg) no-repeat 0 0;
}
ul.nav li a {
    display: inline-block;
    width: 83px;
    height: 100px;
}
div.foot_btn {
    z-index: 9;
    width: 640px;
    height: 395px;
    margin: 0 auto;
    margin-top: 15px;
    /*background-color: #161616;*/
    /*position: absolute;
	bottom: 0px;
	left: 50%;
	margin-left: -320px;*/
    /*border: 1px solid red;*/
}

div.foot_btn1{
    z-index: 9;
    width: 640px;
    height: 214px;
    margin: 0 auto;
    margin-top: 15px;
    /*background-color: #161616;*/
    /*position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -320px;*/
    /*border: 1px solid red;*/
}

div.foot_btn a.btn {
    display: block;
    width: 205px;
    height: 66px;
    margin: 0 auto;
    background: url(../img/btn.png) no-repeat 0 0;
    text-align: center;
    font-weight: bold;
}

div.foot_btn a span {
    display: inline-block;
    color: #fff;
    font-size: 25px;
    margin-top: 13px;
}

div.foot_btn .foot {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    line-height: 30px;
    color: #fff;
}

div.foot_btn .foot .one{
    margin-top: 30px;
}

div.qq_pop,div.weixin_pop,div.weibo_pop {
    width: 411px;
    height: 290px;
    background: url(../img/pop.jpg) no-repeat 0 0;
    display: none;
    position: fixed;
    top: 352px;
    left: 50%;
    margin-left: -205px;
    z-index: 100;
}
div.qq_pop a.close ,div.weixin_pop a.close,div.weibo_pop a.close{
    position: absolute;
    top: 8px;
    right: 11px;
    display: block;
    width: 60px;
    height: 60px;
    border: 1px solid red;
}

/*div.weibo_pop p {
    color: #fff;
    font-size: 24px;
    position: absolute;
    top: 
}*/
div.qq_pop div.content ,div.weibo_pop div.content {
    position: absolute;
    top: 100px;
    left: 10px;
    width: 391px;
    height: 100px;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-align: center;
    line-height: 41px;`
}
div.weixin_pop img {
    position: absolute;
    top: 72px;
    left: 127px;
}
#shadow {
    display: none;
}
#shadow{
  position: absolute;
  z-index: 99;
  top: 0;
  width: 100%;
  background-color: rgb(0,0,0);
  opacity: 0.5;
  display: none;
}

.leebao{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 640px;
    height: 208px;
    background: url(../img/leebao.png) no-repeat 0 0;
}
.leebao .android{
    width: 211px;
    height: 68px;
    margin-top: 54px;
    background: url(../img/anzhuo.png) no-repeat 0 0;
    margin-left: 76px;
}
.leebao .ios1{
    width: 211px;
    height: 67px;
    background: url(../img/ios.png) no-repeat 0 0;
    margin-left: 76px;
    margin-top: 4px;
}
.leebao .last{
    width: 211px;
    height: 68px;
    float: right;
    margin-right: 77px;
    margin-top: -67px;
    background: url(../img/last.png) no-repeat 0 0;
}
.tanchuang{
    background: url(../img/tanchuang1.jpg) no-repeat 0 0;
    width: 407px;
    height: 244px;
    position: fixed;
    top: 200px;
    left: 120px;
    display: none;
}
.cha{
    width: 12px;
    height: 12px;
    background: url(../img/cha.jpg) no-repeat 0 0;
    position: fixed;
    top: 214px;
    left: 500px;
}
.y_vid {
    background-color: #000;
    width: 71%;
    height: 23%;
    position: fixed;
    top: 10%;
    z-index: 10000;
    left: 50%;
    margin-left: -37%;
    /*border: 2px solid #444;*/
}
a.close_video {
    width: 34px;
    height: 37px;
    display: block;
    background: transparent url(../img/only.gif) no-repeat scroll 0 0;
    position: absolute;
    right: -34px;
    top: 0;
    text-indent: -9999px;
}