body,
div,
p,
img,
a,
ul,
li,
h4 {
  padding: 0;
  margin: 0; }

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none; }

img {
  border: none; }

a {
  text-decoration: none;
  /*text-indent: -99999px;*/ }

a:hover {
  /*text-decoration: underline;*/ }

body {
  position: relative;
  font: 62.5% "Microsoft YaHei", Arial; }
  body .forms_t {
    font-size: 20px;
    color: red; }
  body .wrap {
    background: url(http://cdn.tmfy.hulai.com/img/bg.jpg) no-repeat;
    width: 640px;
    height: 2222px;
    margin: 0 auto; }
    body .wrap .digong {
      width: 231px;
      height: 78px;
      display: inline-block;
      cursor: pointer;
      margin-top: 381px;
      margin-left: 312px; }
    body .wrap .gongxi {
      z-index: 99999;
      background: url(http://cdn.tmfy.hulai.com/img/tanchuang.png) no-repeat;
      width: 413px;
      height: 224px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -206px;
      margin-top: -112px; }
      body .wrap .gongxi .close_weixin {
        width: 50px;
        height: 50px;
        position: absolute;
        display: inline-block;
        right: 15px;
        top: 23px;
        cursor: pointer; }
    body .wrap .slidecontent {
      width: 502px;
      height: 300px;
      margin-top: 130px;
      margin-left: 69px; }
      body .wrap .slidecontent .slide {
        position: absolute; }
      body .wrap .slidecontent .slide ul.img {
        position: relative; }
      body .wrap .slidecontent .slide ul.img li {
        position: absolute;
        top: 0;
        left: 0; }
      body .wrap .slidecontent .slide ul li img {
        width: 495px;
        height: 280px; }
      body .wrap .slidecontent .slide ul.dot {
        position: absolute;
        width: 123px;
        height: 32px;
        border: 1px solid red;
        right: 38px;
        bottom: 2px; }
      body .wrap .slidecontent .slide ul.dot li.dot1 {
        width: 15px;
        height: 14px;
        float: left;
        margin-right: 7px; }
      body .wrap .slidecontent .slide .dott1 {
        background: url(../img/cur_white.png) no-repeat;
        width: 22px;
        height: 22px; }
      body .wrap .slidecontent .slide ul.dot li.cur {
        display: inline-block;
        background: url(../img/cur.png) no-repeat;
        width: 22px;
        height: 22px; }
    body .wrap .baoxiang {
      width: 640px;
      height: 850px; }
    body .wrap .yuyueXitong {
      top: -45px;
      left: 14px;
      background: url(../img/xitong.png) no-repeat;
      width: 625px;
      height: 330px;
      position: relative; }
      body .wrap .yuyueXitong .shadow {
        background: url("../img/and_hov.png") no-repeat !important;
        width: 231px;
        height: 54px; }
      body .wrap .yuyueXitong .sha {
        background: url("../img/ios_hov.png") no-repeat !important;
        width: 231px;
        height: 54px; }
      body .wrap .yuyueXitong .radioselect {
        height: 56px;
        width: 448px;
        position: absolute;
        top: 90px;
        left: 85px; }
        body .wrap .yuyueXitong .radioselect .pp {
          display: inline-block;
          cursor: pointer; }
        body .wrap .yuyueXitong .radioselect .andr {
          background: url("../img/and.png") no-repeat;
          width: 222px;
          height: 54px; }
        body .wrap .yuyueXitong .radioselect .ios {
          background: url("../img/ios_yuyuye.png") no-repeat;
          width: 222px;
          height: 54px; }
      body .wrap .yuyueXitong input::-webkit-input-placeholder {
        color: #000; }
      body .wrap .yuyueXitong input:-moz-placeholder {
        color: #000; }
      body .wrap .yuyueXitong .phone_msg {
        position: absolute;
        top: 142px;
        left: 205px; }
        body .wrap .yuyueXitong .phone_msg .enter_phone {
          background: url("../img/input.png") no-repeat;
          width: 206px;
          height: 41px;
          text-align: center;
          color: #fff;
          font-size: 19px;
          border: 3px solid rgba(189, 17, 177, 0.05); }
      body .wrap .yuyueXitong .daoyou {
        background: url(../img/daodou.png) no-repeat;
        width: 201px;
        height: 90px;
        position: absolute;
        top: 184px;
        left: 209px; }
      body .wrap .yuyueXitong .yiyou {
        background: url("../img/yuyue/yiyou.png") no-repeat;
        width: 325px;
        height: 80px;
        font-size: 18px;
        color: #ff0000;
        position: relative;
        top: 265px;
        text-align: center;
        left: 24%; }
        body .wrap .yuyueXitong .yiyou .cc {
          top: 26px;
          text-align: center;
          position: relative; }
        body .wrap .yuyueXitong .yiyou #allNum {
          color: #ffcc00; }
    body .wrap .hov {
      cursor: pointer; }
    body .wrap .content {
      position: relative;
      height: 150px;
      bottom: -848px; }
      body .wrap .content .pos {
        position: absolute; }
      body .wrap .content .yuyue {
        background: url(../img/yuyue.png) no-repeat;
        width: 225px;
        height: 112px;
        left: 91px; }
      body .wrap .content .weixin {
        background: url(../img/of_wexin.png) no-repeat;
        width: 216px;
        height: 51px;
        left: 329px; }
      body .wrap .content .qq {
        background: url(../img/qq.png) no-repeat;
        width: 216px;
        height: 51px;
        left: 329px;
        top: 50px; }
      body .wrap .content .iosdown {
        background: url(../img/ios.png) no-repeat;
        width: 196px;
        height: 68px;
        left: 119px;
        top: 222px; }
      body .wrap .content .andrdown {
        background: url(../img/and.png) no-repeat;
        width: 196px;
        height: 68px;
        left: 326px;
        top: 219px; }
  body .weixin_sec {
    background: url(../img/wanjiaqun.png) no-repeat;
    width: 360px;
    height: 368px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -180px;
    margin-top: -184px; }
    body .weixin_sec .close_weixin {
      background: url(../img/close_but.jpg) no-repeat;
      width: 30px;
      height: 30px;
      position: absolute;
      display: inline-block;
      right: 15px;
      top: 23px; }
    body .weixin_sec span.letter {
      text-align: center;
      font-size: 20px;
      color: #5b2222;
      top: 30px;
      position: absolute;
      left: 100px; }
    body .weixin_sec img {
      position: absolute;
      top: 91px;
      left: 54px;
      width: 256px;
      height: 252px; }
  body .ios_swc {
    background: url(../img/ios_bg.png) no-repeat;
    width: 574px;
    height: 350px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -287px;
    margin-top: -175px; }
    body .ios_swc .close_weixin {
      background: url(../img/close_but.jpg) no-repeat;
      width: 30px;
      height: 30px;
      position: absolute;
      display: inline-block;
      right: 15px;
      top: 155px; }
    body .ios_swc span.letter {
      font-size: 20px;
      color: #5b2222;
      top: 191px;
      position: absolute;
      left: 18px;
      width: 540px;
      height: 166px;
      line-height: 32px; }
  body .yuyuew {
    background: url(../img/yuyue_tan.png) no-repeat;
    width: 574px;
    height: 367px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -287px;
    margin-top: -183.5px; }
    body .yuyuew .pul {
      font-size: 21px;
      color: #56120a; }
    body .yuyuew .one {
      position: absolute;
      top: 121px;
      left: 90px; }
      body .yuyuew .one input.enter_phone {
        color: #000;
        text-align: center;
        background: url(../img/input.png) no-repeat;
        width: 206px;
        height: 41px;
        border: 3px solid rgba(189, 17, 177, 0.05); }
    body .yuyuew .two {
      position: absolute;
      top: 185px;
      left: 90px; }
      body .yuyuew .two input.modify_sys {
        background-color: #ffffd9;
        width: 321px;
        height: 51px;
        border-color: #ffffd8;
        border-radius: 5px;
        box-shadow: 2px 3px 7px #F4F7BE;
        text-align: center;
        font-size: 21px;
        border: 1px solid rgba(189, 177, 177, 0.05); }
      body .yuyuew .two .ios {
        position: absolute;
        top: 11px;
        left: 139px;
        color: #56120a;
        font-size: 16px; }
        body .yuyuew .two .ios .ios_tit {
          position: absolute;
          top: 0;
          left: 41px;
          font-size: 20px; }
      body .yuyuew .two .android {
        position: absolute;
        top: 10px;
        left: 280px;
        color: #56120a;
        font-size: 16px; }
        body .yuyuew .two .android .and_tit {
          position: absolute;
          top: 1px;
          left: 39px;
          width: 40px; }
    body .yuyuew input.but {
      background: url(../img/but.png) no-repeat;
      width: 112px;
      height: 48px;
      position: absolute;
      top: 257px;
      left: 232px;
      border: 1px solid transparent; }
    body .yuyuew .close {
      background: url(../img/close_but.jpg) no-repeat;
      width: 30px;
      height: 30px;
      position: absolute;
      display: inline-block;
      right: 15px;
      top: 23px; }
    body .yuyuew #getGift {
      /* position: absolute; */
      /* top: 322px; */
      /* left: 276px; */
      text-align: center;
      color: #978483;
      margin-top: 321px; }
  body .gongxi {
    z-index: 99999;
    background: url(../img/gongxi.png) no-repeat;
    width: 576px;
    height: 367px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -288px;
    margin-top: -184px; }
    body .gongxi .close_weixin {
      width: 30px;
      height: 30px;
      position: absolute;
      display: inline-block;
      right: 19px;
      top: 15px;
      cursor: pointer; }

.wrap1 {
  background: url(../img/yuyue/bg.jpg) no-repeat;
  width: 640px;
  height: 1474px;
  margin: 0 auto; }
  .wrap1 .digong {
    width: 231px;
    height: 78px;
    display: inline-block;
    cursor: pointer;
    margin-top: 381px;
    margin-left: 312px; }
  .wrap1 .gongxi {
    z-index: 99999;
    background: url(http://cdn.tmfy.hulai.com/img/tanchuang.png) no-repeat;
    width: 413px;
    height: 224px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -206px;
    margin-top: -112px; }
    .wrap1 .gongxi .close_weixin {
      width: 50px;
      height: 50px;
      position: absolute;
      display: inline-block;
      right: 15px;
      top: 23px;
      cursor: pointer; }
  .wrap1 .slidecontent {
    width: 502px;
    height: 300px;
    margin-top: 130px;
    margin-left: 69px; }
    .wrap1 .slidecontent .slide {
      position: absolute; }
    .wrap1 .slidecontent .slide ul.img {
      position: relative; }
    .wrap1 .slidecontent .slide ul.img li {
      position: absolute;
      top: 0;
      left: 0; }
    .wrap1 .slidecontent .slide ul li img {
      width: 495px;
      height: 280px; }
    .wrap1 .slidecontent .slide ul.dot {
      position: absolute;
      width: 123px;
      height: 32px;
      border: 1px solid red;
      right: 38px;
      bottom: 2px; }
    .wrap1 .slidecontent .slide ul.dot li.dot1 {
      width: 15px;
      height: 14px;
      float: left;
      margin-right: 7px; }
    .wrap1 .slidecontent .slide .dott1 {
      background: url(../img/cur_white.png) no-repeat;
      width: 22px;
      height: 22px; }
    .wrap1 .slidecontent .slide ul.dot li.cur {
      display: inline-block;
      background: url(../img/cur.png) no-repeat;
      width: 22px;
      height: 22px; }
  .wrap1 .baoxiang {
    width: 640px;
    height: 850px; }
  .wrap1 .yuyueXitong {
    top: 778px;
    left: 14px;
    width: 625px;
    height: 330px;
    position: relative; }
    .wrap1 .yuyueXitong .baoxiang {
      background: url("../img/yuyue/xitong.jpg") no-repeat;
      width: 127px;
      height: 30px;
      position: absolute;
      left: 50%;
      margin-left: -66px;
      top: 58px; }
    .wrap1 .yuyueXitong .shadow1 {
      background: url("../img/yuyue/android.png") no-repeat !important;
      width: 229px;
      height: 70px; }
    .wrap1 .yuyueXitong .sha1 {
      background: url("../img/yuyue/iosss.png") no-repeat !important;
      width: 229px;
      height: 70px; }
    .wrap1 .yuyueXitong .radioselect {
      height: 56px;
      width: 450px;
      position: absolute;
      top: 90px;
      left: 85px; }
      .wrap1 .yuyueXitong .radioselect .pp {
        display: inline-block;
        cursor: pointer; }
      .wrap1 .yuyueXitong .radioselect .andr {
        background: url("../img/yuyue/and_anxia.png") no-repeat;
        width: 217px;
        height: 56px; }
      .wrap1 .yuyueXitong .radioselect .ios {
        background: url("../img/yuyue/iosd_anxia.png") no-repeat;
        width: 217px;
        height: 56px; }
    .wrap1 .yuyueXitong input::-webkit-input-placeholder {
      color: #fff; }
    .wrap1 .yuyueXitong input:-moz-placeholder {
      color: #fff; }
    .wrap1 .yuyueXitong .phone_msg {
      position: absolute;
      top: 142px;
      left: 205px; }
      .wrap1 .yuyueXitong .phone_msg .enter_phone {
        background: url("../img/input2.png") no-repeat;
        width: 206px;
        height: 41px;
        text-align: center;
        color: #fff;
        font-size: 19px;
        border: 3px solid rgba(189, 17, 177, 0.05);
        margin-top: 5px; }
    .wrap1 .yuyueXitong .daoyou {
      background: url(../img/daodou.png) no-repeat;
      width: 201px;
      height: 90px;
      position: absolute;
      top: 186px;
      left: 209px; }
    .wrap1 .yuyueXitong .yiyou {
      background: url("../img/yuyue/yiyou.png") no-repeat;
      width: 325px;
      height: 80px;
      font-size: 18px;
      color: #ff0000;
      position: relative;
      top: 265px;
      text-align: center;
      left: 24%; }
      .wrap1 .yuyueXitong .yiyou .cc {
        top: 26px;
        text-align: center;
        position: relative; }
      .wrap1 .yuyueXitong .yiyou #allNum {
        color: #ffcc00; }
  .wrap1 .hov {
    cursor: pointer; }
  .wrap1 .content {
    position: relative;
    height: 150px;
    bottom: -848px; }
    .wrap1 .content .pos {
      position: absolute; }
    .wrap1 .content .yuyue {
      background: url(../img/yuyue.png) no-repeat;
      width: 225px;
      height: 112px;
      left: 91px; }
    .wrap1 .content .weixin {
      background: url(../img/of_wexin.png) no-repeat;
      width: 216px;
      height: 51px;
      left: 329px; }
    .wrap1 .content .qq {
      background: url(../img/qq.png) no-repeat;
      width: 216px;
      height: 51px;
      left: 329px;
      top: 50px; }
    .wrap1 .content .iosdown {
      background: url(../img/iosss.png) no-repeat;
      width: 196px;
      height: 68px;
      left: 119px;
      top: 222px; }
    .wrap1 .content .andrdown {
      background: url(../img/and.jpg) no-repeat;
      width: 196px;
      height: 68px;
      left: 326px;
      top: 219px; }

.wrap2 {
  background: url(../img/yuyue/bg1.jpg) no-repeat;
  width: 640px;
  height: 1560px;
  margin: 0 auto; }
  .wrap2 .digong {
    width: 231px;
    height: 78px;
    display: inline-block;
    cursor: pointer;
    margin-top: 381px;
    margin-left: 312px; }
  .wrap2 .gongxi {
    z-index: 99999;
    background: url(http://cdn.tmfy.hulai.com/img/tanchuang.png) no-repeat;
    width: 413px;
    height: 224px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -206px;
    margin-top: -112px; }
    .wrap2 .gongxi .close_weixin {
      width: 50px;
      height: 50px;
      position: absolute;
      display: inline-block;
      right: 15px;
      top: 23px;
      cursor: pointer; }
  .wrap2 .slidecontent {
    width: 502px;
    height: 300px;
    margin-top: 130px;
    margin-left: 69px; }
    .wrap2 .slidecontent .slide {
      position: absolute; }
    .wrap2 .slidecontent .slide ul.img {
      position: relative; }
    .wrap2 .slidecontent .slide ul.img li {
      position: absolute;
      top: 0;
      left: 0; }
    .wrap2 .slidecontent .slide ul li img {
      width: 495px;
      height: 280px; }
    .wrap2 .slidecontent .slide ul.dot {
      position: absolute;
      width: 123px;
      height: 32px;
      border: 1px solid red;
      right: 38px;
      bottom: 2px; }
    .wrap2 .slidecontent .slide ul.dot li.dot1 {
      width: 15px;
      height: 14px;
      float: left;
      margin-right: 7px; }
    .wrap2 .slidecontent .slide .dott1 {
      background: url(../img/cur_white.png) no-repeat;
      width: 22px;
      height: 22px; }
    .wrap2 .slidecontent .slide ul.dot li.cur {
      display: inline-block;
      background: url(../img/cur.png) no-repeat;
      width: 22px;
      height: 22px; }
  .wrap2 .baoxiang {
    background: url(../img/baoxiang.gif) no-repeat;
    width: 640px;
    height: 850px; }
  .wrap2 .yuyueXitong {
    top: 780px;
    left: 14px;
    background: url(../img/youxi_n.png) no-repeat;
    width: 625px;
    height: 352px;
    position: relative; }
    .wrap2 .yuyueXitong .shadow1 {
      background: url("../img/yuyue/android.png") no-repeat !important;
      width: 229px;
      height: 70px; }
    .wrap2 .yuyueXitong .sha1 {
      background: url("../img/yuyue/ioss.png") no-repeat !important;
      width: 229px;
      height: 70px; }
    .wrap2 .yuyueXitong .radioselect {
      height: 56px;
      width: 448px;
      position: absolute;
      top: 90px;
      left: 85px; }
      .wrap2 .yuyueXitong .radioselect .pp {
        display: inline-block;
        cursor: pointer; }
      .wrap2 .yuyueXitong .radioselect .andr {
        background: url("../img/yuyue/an_anxia.png") no-repeat;
        width: 217px;
        height: 56px; }
      .wrap2 .yuyueXitong .radioselect .ios {
        background: url("../img/yuyue/ios_anxia.png") no-repeat;
        width: 217px;
        height: 56px; }
    .wrap2 .yuyueXitong input::-webkit-input-placeholder {
      color: #000; }
    .wrap2 .yuyueXitong input:-moz-placeholder {
      color: #000; }
    .wrap2 .yuyueXitong .phone_msg {
      position: absolute;
      top: 142px;
      left: 205px; }
      .wrap2 .yuyueXitong .phone_msg .enter_phone {
        background: url("../img/input.png") no-repeat;
        width: 206px;
        height: 41px;
        text-align: center;
        color: #fff;
        font-size: 19px;
        border: 3px solid rgba(189, 17, 177, 0.05); }
    .wrap2 .yuyueXitong .daoyou {
      background: url(../img/daodou.png) no-repeat;
      width: 201px;
      height: 90px;
      position: absolute;
      top: 184px;
      left: 209px; }
    .wrap2 .yuyueXitong .yiyou {
      background: url("../img/yuyue/yiyou.png") no-repeat;
      width: 325px;
      height: 80px;
      font-size: 18px;
      color: #ff0000;
      position: relative;
      top: 265px;
      text-align: center;
      left: 24%; }
      .wrap2 .yuyueXitong .yiyou .cc {
        top: 26px;
        text-align: center;
        position: relative; }
      .wrap2 .yuyueXitong .yiyou #allNum {
        color: #ffcc00; }
  .wrap2 .hov {
    cursor: pointer; }
  .wrap2 .content {
    position: relative;
    height: 150px;
    bottom: -848px; }
    .wrap2 .content .pos {
      position: absolute; }
    .wrap2 .content .yuyue {
      background: url(../img/yuyue.png) no-repeat;
      width: 225px;
      height: 112px;
      left: 91px; }
    .wrap2 .content .weixin {
      background: url(../img/of_wexin.png) no-repeat;
      width: 216px;
      height: 51px;
      left: 329px; }
    .wrap2 .content .qq {
      background: url(../img/qq.png) no-repeat;
      width: 216px;
      height: 51px;
      left: 329px;
      top: 50px; }
    .wrap2 .content .iosdown {
      background: url(../img/ios.png) no-repeat;
      width: 196px;
      height: 68px;
      left: 119px;
      top: 222px; }
    .wrap2 .content .andrdown {
      background: url(../img/and.png) no-repeat;
      width: 196px;
      height: 68px;
      left: 326px;
      top: 219px; }

.wrap3 {
  background: url(../img/yuyue/bg2.jpg) no-repeat;
  width: 640px;
  height: 2222px;
  margin: 0 auto; }
  .wrap3 .digong {
    width: 231px;
    height: 78px;
    display: inline-block;
    cursor: pointer;
    margin-top: 381px;
    margin-left: 312px; }
  .wrap3 .gongxi {
    z-index: 99999;
    background: url(http://cdn.tmfy.hulai.com/img/tanchuang.png) no-repeat;
    width: 413px;
    height: 224px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -206px;
    margin-top: -112px; }
    .wrap3 .gongxi .close_weixin {
      width: 50px;
      height: 50px;
      position: absolute;
      display: inline-block;
      right: 15px;
      top: 23px;
      cursor: pointer; }
  .wrap3 .slidecontent {
    width: 502px;
    height: 300px;
    margin-top: 130px;
    margin-left: 69px; }
    .wrap3 .slidecontent .slide {
      position: absolute; }
    .wrap3 .slidecontent .slide ul.img {
      position: relative; }
    .wrap3 .slidecontent .slide ul.img li {
      position: absolute;
      top: 0;
      left: 0; }
    .wrap3 .slidecontent .slide ul li img {
      width: 495px;
      height: 280px; }
    .wrap3 .slidecontent .slide ul.dot {
      position: absolute;
      width: 123px;
      height: 32px;
      border: 1px solid red;
      right: 38px;
      bottom: 2px; }
    .wrap3 .slidecontent .slide ul.dot li.dot1 {
      width: 15px;
      height: 14px;
      float: left;
      margin-right: 7px; }
    .wrap3 .slidecontent .slide .dott1 {
      background: url(../img/cur_white.png) no-repeat;
      width: 22px;
      height: 22px; }
    .wrap3 .slidecontent .slide ul.dot li.cur {
      display: inline-block;
      background: url(../img/cur.png) no-repeat;
      width: 22px;
      height: 22px; }
  .wrap3 .baoxiang {
    width: 640px;
    height: 850px; }
  .wrap3 .yuyueXitong {
    top: -80px;
    left: 14px;
    background: url(../img/youxi_n.png) no-repeat;
    width: 625px;
    height: 352px;
    position: relative; }
    .wrap3 .yuyueXitong .shadow {
      background: url("../img/and_hov.png") no-repeat !important;
      width: 231px;
      height: 54px; }
    .wrap3 .yuyueXitong .sha {
      background: url("../img/ios_hov.png") no-repeat !important;
      width: 231px;
      height: 54px; }
    .wrap3 .yuyueXitong .radioselect {
      height: 56px;
      width: 448px;
      position: absolute;
      top: 90px;
      left: 85px; }
      .wrap3 .yuyueXitong .radioselect .pp {
        display: inline-block;
        cursor: pointer; }
      .wrap3 .yuyueXitong .radioselect .andr {
        background: url("../img/and.png") no-repeat;
        width: 222px;
        height: 54px; }
      .wrap3 .yuyueXitong .radioselect .ios {
        background: url("../img/ios_yuyuye.png") no-repeat;
        width: 222px;
        height: 54px; }
    .wrap3 .yuyueXitong input::-webkit-input-placeholder {
      color: #000; }
    .wrap3 .yuyueXitong input:-moz-placeholder {
      color: #000; }
    .wrap3 .yuyueXitong .phone_msg {
      position: absolute;
      top: 142px;
      left: 127px; }
      .wrap3 .yuyueXitong .phone_msg .enter_phone {
        background: url("../img/yuyue/input.png") no-repeat;
        width: 167px;
        height: 43px;
        text-align: center;
        color: #fff;
        font-size: 19px;
        border: 3px solid rgba(189, 17, 177, 0.05); }
      .wrap3 .yuyueXitong .phone_msg .enter_yanzheng {
        margin-left: 10px;
        background: url("../img/yuyue/yanzheng.png") no-repeat;
        width: 79px;
        height: 34px;
        color: #fff;
        font-size: 12px;
        text-align: center;
        border: 3px solid rgba(189, 17, 177, 0.05); }
      .wrap3 .yuyueXitong .phone_msg .huoqu {
        background: url("../img/yuyue/shuru.png") no-repeat;
        width: 81px;
        height: 38px;
        position: absolute;
        top: 11px;
        right: -86px;
        border: 3px solid rgba(189, 17, 177, 0.05); }
    .wrap3 .yuyueXitong .daoyou {
      background: url(../img/daodou.png) no-repeat;
      width: 201px;
      height: 90px;
      position: absolute;
      top: 184px;
      left: 209px; }
    .wrap3 .yuyueXitong .yiyou {
      background: url("../img/yuyue/yiyou.png") no-repeat;
      width: 325px;
      height: 80px;
      font-size: 18px;
      color: #ff0000;
      position: relative;
      top: 265px;
      text-align: center;
      left: 24%; }
      .wrap3 .yuyueXitong .yiyou .cc {
        top: 26px;
        text-align: center;
        position: relative; }
      .wrap3 .yuyueXitong .yiyou #allNum {
        color: #ffcc00; }
  .wrap3 .hov {
    cursor: pointer; }
  .wrap3 .content {
    position: relative;
    height: 150px;
    bottom: -848px; }
    .wrap3 .content .pos {
      position: absolute; }
    .wrap3 .content .yuyue {
      background: url(../img/yuyue.png) no-repeat;
      width: 225px;
      height: 112px;
      left: 91px; }
    .wrap3 .content .weixin {
      background: url(../img/of_wexin.png) no-repeat;
      width: 216px;
      height: 51px;
      left: 329px; }
    .wrap3 .content .qq {
      background: url(../img/qq.png) no-repeat;
      width: 216px;
      height: 51px;
      left: 329px;
      top: 50px; }
    .wrap3 .content .iosdown {
      background: url(../img/ios.png) no-repeat;
      width: 196px;
      height: 68px;
      left: 119px;
      top: 222px; }
    .wrap3 .content .andrdown {
      background: url(../img/and.png) no-repeat;
      width: 196px;
      height: 68px;
      left: 326px;
      top: 219px; }

/*# sourceMappingURL=yuyue.css.map */
